.profile__edit-button {
  /*margin: 0 0 0 18px;*/
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: black;
  background-image: url("../../../images/edit-Profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  position: absolute;
  top: 37px;
  left: 462px;
}

@media screen and (max-width: 860px) {
  .profile__edit-button {
    top: 28px;
    left: 376px;
  }
}

@media screen and (max-width: 660px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
    top: 154px;
    left: 245px;
  }
}
