.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 45px auto 36px;
  box-sizing: border-box;
  padding: 0 200px;
}

@media screen and (max-width: 1054px) {
  .header {
    padding: 0 150px;
  }
}

@media screen and (max-width: 954px) {
  .header {
    padding: 0 100px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 860px) {
  .header {
    padding: 0 50px;
    margin: 28px 0 42px;
  }
}

@media screen and (max-width: 660px) {
  .header {
    padding: 0;
  }
}
